name: tum

services:
  nginx:
    image: minmod-nginx
    build:
      context: ./containers/nginx/
    volumes:
      - ./volumes/certs:/certs/
      - ./volumes/.htpasswd:/etc/apache2/.htpasswd:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - tum
    cap_add:
      - NET_BIND_SERVICE
  sand:
    image: minmod-sand
    build: 
      context: .
      dockerfile: ./containers/sand/Dockerfile
      args:
        UID: ${USER_ID}
        GID: ${GROUP_ID}
        DATA_REPO_COMMIT_ID: ${DATA_REPO_COMMIT_ID}
        KG_REPO_COMMIT_ID: ${KG_REPO_COMMIT_ID}
    ports:
      - 5524:5524
    env_file:
      - .env
    networks:
      - tum
    volumes:
      - ./volumes/data:/home/criticalmaas/data
    command: >
      uv run --project tum python -m sand start 
      -d ./data/minmod/sand.db 
      -c ./tum/minmod.sand.yml
  geochem:
    image: minmod-sand
    build: 
      context: .
      dockerfile: ./containers/sand/Dockerfile
      args:
        UID: ${USER_ID}
        GID: ${GROUP_ID}
        DATA_REPO_COMMIT_ID: ${DATA_REPO_COMMIT_ID}
        KG_REPO_COMMIT_ID: ${KG_REPO_COMMIT_ID}
    env_file:
      - .env
    environment:
      - ONTOLOGY_FILE=/home/criticalmaas/tum/schema/geochem.ttl
    ports:
      - 5525:5524
    networks:
      - tum
    command: >
      uv run --project tum python -m sand start 
      -d ./data/geochem/sand.db 
      -c ./tum/geochem.sand.yml

networks:
  tum:
    name: tum
    external: true